APP_NAME="Alluc Cleaning"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Warsaw
APP_URL=http://localhost:8080

APP_LOCALE=pl
APP_FALLBACK_LOCALE=pl
APP_FAKER_LOCALE=pl_PL

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=allucleaning
DB_USERNAME=alluc
DB_PASSWORD=secret

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_FROM_ADDRESS="biuro@allucleaning.pl"
MAIL_FROM_NAME="${APP_NAME}"
